.hh{

}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.navlinks{
    display: flex;
    
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.navlink{
    text-decoration: none;
    font-weight: 500;
    color: #252432;
    
}

.navbar, .hero-text{
    max-width: 1140px;
    margin: 0 auto;
}

.hero-text{
    display: flex;
    align-items: center;
    max-width: 1140px;
    padding: 167px;
    
}

.htitle{
    font-size: 65px;
    color: rgba(0, 0, 0, 1);
}

.hdescription{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    
    
}
span{
    color: #E95A08;
}

.hero-image{
    width:auto;
}
.herobanner{
    
    justify-content: space-between;
}

/* plant section */
.plant{
    max-width: 1140px;
    margin: 0 auto;
}


.cardtitle{
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.bt{
    font-size: 50px;
    justify-content: center;
    
}

.des{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;

}
.card-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr
    );
    max-width: 1140px;
    margin: 0 auto;
    gap: 10px;
}
.cbtn{
    background-color: #E95A08;
    border: none;
    padding: 5px;
    font-size: large;
    color: aliceblue;
    
}


button:hover{
    color: #000000;
}

/* plants lover */

.psec{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    padding: 127px;
}

.ptitle{
    font-size: 50px;
}

.menu{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.ptext{
    padding: 40px;
}

/* join section */
.js{
    max-width: 1440px;
    margin: 0 auto; 
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.jin{
    display: inline-block;
    justify-content:center;
    border: 2px solid black;
    font-size: 20px;
}

.js-title{
     font-size: 50px;
     color: #5b0e0e;
     display: ;
}