.hh{

}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.navlinks{
    display: flex;
    
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.navlink{
    text-decoration: none;
    font-weight: 500;
    color: #252432;
    
}

.navbar, .hero-text{
    max-width: 1140px;
    margin: 0 auto;
}

.hero-text{
    display: flex;
    align-items: center;
    max-width: 1140px;
    /* margin-right: 97px;
    margin-left: 203px;
    margin-top: 168px; */
    padding: auto
    ;
    
}

.htitle{
    font-size: 65px;
    color: rgba(0, 0, 0, 1);
}

.hdescription{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    
    
}
span{
    color: #E95A08;
}

.hero-image{
    width:auto;
}
.herobanner{
    
    justify-content: space-between;
}